<section id="samstarfsadilar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sponsor-label">Samstarfsaðilar</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <a target="_blank" href="http://www.motocross.is">
                    <img src="images/sponsors/vik.gif" class="sponsor">
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a target="_blank" href="http://www.msisport.is">
                    <img src="images/sponsors/msi-hvit.JPG" class="sponsor">
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="http://www.kfc.is" target="_blank">
                    <img src="images/sponsors/kfc.png" class="sponsor">
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="http://www.snaelandvideo.is" target="_blank">
                    <img src="images/sponsors/snaeland.jpg" class="sponsor">
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="http://www.systrakaffi.is" target="_blank">
                    <img src="images/sponsors/systrakaffi.png" class="sponsor">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>