<!-- Navigation -->
<nav class="topNav navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="col-xs-6"><a class="" href="#page-top"><img class="logo" src="images/greyBigLogo.jpg" alt="Responsive image"></a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <h4><a class="sections" href="#keppnin">KEPPNIN</a></h4>
                </li>
                <li>
                    <h4><a class="sections" href="#flokkar">FLOKKAR</a></h4>
                </li>
                <li>
                    <h4><a class="sections" href="#barnakeppni">BARNAKEPPNI</a></h4>
                </li>
                <li>
                    <h4><a class="sections" href="#samstarfsadilar">SAMSTARFSAÐILAR</a></h4>
                </li>                
                <li>
                    <a href="https://www.facebook.com/klausturoffroadchallenge" target="_blank">
                        <img src="images/social/fb.gif" style="max-width:20px;">
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/klausturoffroad" target="_blank">
                        <img src="images/social/twitter.png" style="max-width:20px;">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/klausturoffroad" target="_blank">
                        <img src="images/social/instagram.png" style="max-width:20px;">
                    </a>
                </li>     
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>